<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sửa Rạp Phim</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Cập nhật rạp phim</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">

        <form role="form" action="/dienVien/{{dv._id}}{{_id}}/edit" method="post"
          enctype="application/x-www-form-urlencoded">
          <div class="input-group mb-3">
            <input type="text" name="tenDienVien" class="form-control" placeholder="Tên diễn viên"
              value="{{dv.tenDienVien}}{{tenDienVien}}">
            <div class="input-group-append">
              <div class="input-group-text">
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" name="hinhAnh" class="form-control" placeholder="Hình ảnh"
              value="{{dv.hinhAnh}}{{hinhAnh}}">
            <div class="input-group-append">
              <div class="input-group-text">
              </div>
            </div>
          </div>
          <div class="row">
            <button type="submit" class="btn btn-primary btn-block" value="Edit">Cập nhật</button>
            <a href="/dienVien" class="btn btn-block btn-danger">
              <i class="#"></i> Hủy
            </a>
          </div>
          {{#if errors}}
          <div class="alert alert-danger" style="margin-top: 20px;">
            <ul>
              {{#each errors}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
        </form>

      </div>

    </div>
    <!-- /.col -->

    <!-- /.col -->
  </div>



  <!-- /.login-card-body -->
  </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->


</body>

</html>