<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>New Xuất Phim</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>New Xuất Phim</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">

        <form role="form" action="/xuatPhim/newXuatPhim" method="post" enctype="application/x-www-form-urlencoded">
          <div class="input-group mb-3">
            <select name="Rap" id="Rap" class="form-control">
              <!-- Sử dụng vòng lặp để tạo các tùy chọn từ danh sách phim -->
              {{#each rap}}
              <option value="{{_id}}">{{tenRapPhim}}</option>
              {{/each}}
            </select>
            <div class="input-group-append">
              <div class="input-group-text"></div>
            </div>
          </div>

          <div class="input-group mb-3">
            <select name="Phim" id="Phim" class="form-control">
              <!-- Sử dụng vòng lặp để tạo các tùy chọn từ danh sách phim -->
              {{#each phim}}
              <option value="{{_id}}">{{tenPhim}}</option>
              {{/each}}
            </select>
            <div class="input-group-append">
              <div class="input-group-text"></div>
            </div>
          </div>

          <div class="input-group mb-3">
            <select name="Phong" id="Phong" class="form-control">
              <!-- Sử dụng vòng lặp để tạo các tùy chọn từ danh sách phim -->
              <option value="Cinema1">Cinema 1</option>
              <option value="Cinema2">Cinema 2</option>
              <option value="Cinema1">Cinema 3</option>
              <option value="Cinema2">Cinema 4</option>
              <option value="Cinema1">Cinema 5</option>
              <option value="Cinema2">Cinema 6</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text"></div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="text" name="ngay" id="ngay" class="form-control" placeholder="Ngày: dd-mm-yyyy" value="{{ngay}}">
            <div class="input-group-append">
              <div class="input-group-text">
              </div>
            </div>
          </div>
            <div class="input-group mb-3">
            <select name="gio" id="gio" class="form-control" >
              <!-- Sử dụng vòng lặp để tạo các tùy chọn từ danh sách phim -->
              <option value="13:00">13:00</option>
              <option value="15:00">15:00</option>
              <option value="17:00">17:00</option>
              <option value="19:00">19:00</option>
              <option value="21:00">21:00</option>
              <option value="23:00">23:00</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text"></div>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-primary btn-block" value="Edit">Tạo</button>
            <a href="/xuatphim" class="btn btn-block btn-danger">
              <i class="#"></i> Hủy
            </a>
          </div>
          {{#if errors}}
          <div class="alert alert-danger" style="margin-top: 20px;">

            <ul>
              {{#each errors}}
              <li>{{this}}</li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
        </form>

      </div>

    </div>
    <!-- /.col -->

    <!-- /.col -->
  </div>



  <!-- /.login-card-body -->
  </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->

</body>

</html>